<title>All questions in the library</title>

<a href="/questions?sort_by=rating">Sort by rating</a>
<a href="/questions?sort_by=popularity">Sort by popularity</a>

<div class="container">
<h1>See all questions posted so far:</h1>
<br>
<% @all_questions.each do |question| %>
  <div class="question">
    <h4><a href="/questions/<%= question.id %>"><%= question.content %></a></h4>
      <ul>
        <% Answer.where(question_id: question.id).each do |answer| %>
          <li><%= answer.content %> (<%= answer.correct %>)</li>
        <% end %>
      </ul>
    <p><em>posted by <%= User.find(question.user_id).name %>
      <% if @auth_user && question.user_id == @auth_user.id %>
        <a href="/questions/delete/<%= question.id %>">(delete question)</a>
      <% end %>
      </em>
    </p>
    </hr><hr/>
  </div>
<% end %>

<% if params[:offset].to_i + params[:limit].to_i < Question.count %>
  <a href="questions?limit=<%= params[:limit] || 5 %>&offset=<%= ((params[:limit] || 5).to_i + (params[:offset] || 0).to_i).to_s %>">See more</a>
<% else %>
  <a href="questions">Back to first page</a>
<% end %>
