<title>All questions in the library</title>

<a href="/questions?sort_by=rating">Best rated first</a>
<a href="/questions">Most recent first</a>

<div class="container">
<h1>See all <%= Question.count %> questions posted so far:</h1>
<br>
<% @all_questions.each do |question| %>
  <div class="question">

    <h4><a href="/questions/<%= question.id %>"><%= question.content %></a>
      <% unless question.image == "" %>
        <em>(attachment included)</em>
      <% end %>
    </h4>
    <p>
      <% unless question.average_rating == 0 %>
        <em>rating: <%= question.average_rating %></em>

        <% if question.average_rating %>
            <% question.average_rating.to_i.times do %>
              <i class="fa fa-star" style="color: #FFDF88"></i>
            <% end %>
            <% (5 - question.average_rating.to_i).times do %>
              <i class="fa fa-star-o" style="color: #D2D2D2"></i>
            <% end %>
        <% end %>

      <% end %>
    </p>

    <p><em>posted by <%= question.user.name %>
      <% if current_user && question.user_id == current_user.id %>
        <a href="/questions/<%= question.id %>/delete">(delete question)</a>
      <% end %>
      </em>
    </p>

    <% if current_user.tests.empty? == false %>
      <div>
      <label for="add_q_to_test">Add this question to one of your existing tests:</label>
        <form method = "post" action = "/question/<%= question.id %>/add_to_test">
          <select id="user_tests" name="test_id">
            <% current_user.tests.each do |test| %>
              <% if test.questions.find_by(id: question.id) %>
                <option value="<%= test.id %>"><%= test.name %></option>
              <% end %>
            <% end %>
          </select>
          <button class="add_q_to_test" type="submit">Add</button>
        </form>
      </div>
    <% end %>

      <ul>
        <% question.answers.each do |answer| %>
          <li><%= answer.content %> (<%= answer.correct %>)</li>
        <% end %>
      </ul>

    <p>Tags</p>
      <ul>
        <% question.question_tags.each do |qt_combination| %>
          <li><a href="../tags/<%= qt_combination.tag_id.to_i %>"><%= Tag.find(qt_combination.tag_id.to_i).name %></a></li>
        <% end %>
      </ul>
    </hr><hr/>
  </div>

<% end %>


<% if params[:offset].to_i != 0 %>
  <a href="questions?limit=<%= params[:limit] || 5 %>&offset=<%= ((params[:offset] || 0).to_i - (params[:limit] || 5).to_i).to_s %>">Prev</a>
<% end %>

<% if params[:offset].to_i + params[:limit].to_i > Question.count %>
  <a href="questions">Back to first page</a>
<% else %>
  <% unless Question.count <= 5 %>
    <a href="questions?limit=<%= params[:limit] || 5 %>&offset=<%= ((params[:limit] || 5).to_i + (params[:offset] || 0).to_i).to_s %>">Next</a>
  <% end %>
<% end %>
