<title>All questions in the library</title>

<a href="/questions?sort_by=rating">Sort by rating</a>
<a href="/questions?sort_by=popularity">Sort by popularity</a>

<div class="container">
<h1>See all questions posted so far:</h1>
<br>
<% @all_questions.each do |question| %>
  <div class="question">

    <h4><a href="/questions/<%= question.id %>"><%= question.content %></a>
      <% unless question.image == "" %>
        <em>(attachment included)</em>
      <% end %>
    </h4>
    <p>
      <% unless question.average_rating == 0 %>
        <em>rating: <%= question.average_rating %></em>
      <% end %>
    </p>

    <p><em>posted by <%= User.find(question.user_id).name %>
      <% if @auth_user && question.user_id == @auth_user.id %>
        <a href="/questions/<%= question.id %>/delete">(delete question)</a>
      <% end %>
      </em>
    </p>

      <ul>
        <% Answer.where(question_id: question.id).each do |answer| %>
          <li><%= answer.content %> (<%= answer.correct %>)</li>
        <% end %>
      </ul>

    <p>Tags</p>
    <p>
      <ul>
        <% QuestionTag.where(question_id: question.id).each do |qt_combination| %>
          <li><a href="../tags/<%= qt_combination.tag_id.to_i %>"><%= Tag.find(qt_combination.tag_id.to_i).name %></a></li>
        <% end %>
      </ul>
    </p>
    </hr><hr/>
  </div>
<% end %>

<% unless params[:offset].to_i == 0 %>
  <a href="questions?limit=<%= params[:limit] || 5 %>&offset=<%= ((params[:offset] || 0).to_i - (params[:limit] || 5).to_i).to_s %>">Prev</a>
<% end %>

<% if params[:offset].to_i + params[:limit].to_i > Question.count %>
  <a href="questions">Back to first page</a>
<% else %>
  <% unless Question.count < 5 %>
    <a href="questions?limit=<%= params[:limit] || 5 %>&offset=<%= ((params[:limit] || 5).to_i + (params[:offset] || 0).to_i).to_s %>">Next</a>
  <% end %>
<% end %>
