<div class="container">
   <h1>Register now</h1>
   <br>
  <% if @new_user && @new_user.errors.any? %>
    <div>
      <strong>Some issues with your registration, please fix them:</strong>
      <ul>
        <% @new_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @error %>
    <div>
      <strong>Some issues with your login, please fix them:</strong>
      <p><%= @error %></p>
    </div>
  <% end %>
  <form method="post" action="/users">
    <div>
      <label for="user_name">Username:</label>
      <input type="text" placeholder="choose a username" name="user_name" value="<%= @new_user.user_name if @new_user %>">
    </div>
    <div>
      <label for="name">Your name:</label>
      <input type="text" placeholder="your name" name="name" value="<%= @new_user.name if @new_user %>">
    </div>
    <div>
      <label for="name">Your email:</label>
      <input type="text" placeholder="your email" name="email" value="<%= @new_user.email if @new_user %>">
    </div>
    <div>
      <label for="name">Your company:</label>
      <input type="text" placeholder="your company" name="company" value="<%= @new_user.company if @new_user %>">
    </div>
    <div>
      <label for="password">Your password:</label>
      <input type="password" placeholder="your password" name="password" value="<%= @new_user.password if @new_user %>">
    </div>
    <div>
      <label for="password">Confirm password:</label>
      <input type="password" placeholder="your password" name="password_confirmation">
    </div>
    <div>
      <button type="submit">Register</button>
    </div>
  </form>
</div>
