<h1> Take the following test! </h1>

<h3> Test name: <%= @test.name%> </h3>

<div class="test_form">
	<form method = "post", action = "/tests/:id/test_results/new">
		<input type = "text" placeholder = "What is your full name?" value = "<%= @new_result.candidate_name%>">
		<input type = "text" placeholder = "What is your email?" value = "<%= @new_result.candidate_email%>">

	<% @test.questions.each do |question| %>
		<p> Question: <%=question.content %></p>
		<% question.answers.each do |answer| %>
			<p> <input type ="checkbox"> <%= answer.content %> </p>
			<% end %> 
		<% end %>

	</form>
</div>